/* IMPOSTAZIONI GENERALI */
/* dobbiamo ora riportare una sorta di gerarchia visiva nella pagina */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0.5em 0; /* 1em sopra e sotto, 0 dx e sx */
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0.25em 0;
}

ol,
ul {
  padding-left: 2em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

table {
  margin: 1em 0;
}

body {
  background-image: url("./sfondo.png");
}

/* HEADER */
header {
  text-align: center;
  background-color: cadetblue;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
}

.primaLista {
  list-style-type: none;
}

.primoLink {
  text-decoration: none;
}

/* MAIN */
main {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}
/* ELEMENTI NEL MAIN - ARTICLE */

#video {
  border-radius: 10%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#articoliCorrelatiTitolo {
  text-align: center;
}

.articoliCorrelatiSchede {
  background-color: darkgray;
  margin-bottom: 5%;
  padding: 5%;
}

.articoliCorrelatiData {
  text-align: end;
}

/* TABELLE */
table {
  width: 100%;
}

table td {
  padding: 10px;
  text-align: center;
}

table th {
  border: 1px solid white;
  padding: 10px;
}

#primaRigaTabella {
  background-color: cornflowerblue;
}

#secondaRigaTabella {
  background-color: darkgrey;
}

#terzaRigaTabella {
  background-color: darkgrey;
}

#quartaRigaTabella {
  border-bottom: 5px solid cornflowerblue;
}

.fas {
  margin-right: 1%;
}

/* FORM */
#divForm {
  background-color: darkgray;
  padding: 1%;
  margin-top: 5%;
}

#divForm2 {
  text-align: center;
}

#titoloForm {
  text-align: center;
}

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background-color: darkcyan;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

footer p {
  text-align: center;
  color: white;
}

#linkInfoEpicode {
  color: darkmagenta;
}
